.contact-section {
    background-color: var(--black-color);
  color: #fff;
  padding: 60px 20px;
}

.contact-container {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
      background-color: var(--black-color);

}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;

  padding: 30px;
  border-radius: 8px;
  flex: 1;
  min-width: 280px;
  
}

.info-box {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  align-items: flex-start;

}

.info-box .icon {
  font-size: 22px;
  color: #ffcc00;
  margin-top: 4px;
  background: #000;
  
}

.contact-form {
 
    padding: 30px;
  border-radius: 8px;
  flex: 2;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.contact-form h2 {
  color: #ffcc00;
  margin-bottom: 10px;

}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 12px;
  background: #000;
  border: 1px solid #444;
  border-radius: 4px;
  color: white;
}

.contact-form button {
  padding: 12px;
  background-color: #ffcc00;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #e6b800;
}
