.nav-container{
  background-color: var(--black-color);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 20px 0;
  color: #fff;
  flex-wrap: wrap;
}

.left-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  /* gap: 30px; */
  width: 700px;
  background-color: var(--black-color);
}

.logo {
  height: 40px;
  width: auto;
  background-color: var(--black-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #000;
  background-color: var(--black-color);
  /* border: 1px solid yellow; */
  margin-right: 5rem;
}

.nav-links li {
  color: #fff; /* White text for contrast on black background */
  cursor: pointer;
  background-color: var(--black-color);
}

.right-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--black-color);
   /* border: 2px solid red; */
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 1.1rem;
  background-color: var(--black-color);
}

.icon {
  cursor: pointer;
  color: white;
  background-color: var(--black-color);
}

.icons .icon:nth-child(3){
  color: #F5C518;
}

.phone {
  font-weight: bold;
  color: #fff;
  background-color: var(--black-color);

}

.button {
  background-color: #F5C518;
  color:white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}


