.barber-con{
background-color: var(--black-color);
}
.barber-services-container {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 6rem 20px;
    background-color: var(--black-color);
}

.barber-subheading {
  color: #facc15;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: var(--black-color);

}
.barber-main-heading-div{
    background-color: var(--black-color);
    /* margin: ; */
    display: flex;
    flex-direction: column;
}

.barber-main-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: var(--black-color);

}

.barber-main-heading span {
  color: #fff;
  /* text-decoration: underline; */
  /* text-decoration-color: #facc15; */
  background-color: var(--black-color);

}

.barber-description {
  font-size: 16px;
  color: #aaa;
  max-width: 700px;
  margin: 0 auto 40px;
  background-color: var(--black-color);
  background: var(--black-color);
  margin-top: 30px;

}
.barber-main-heading-div #line{
    width: 100px;
    border: 1px solid #facc15;  
  margin: 0 auto;
  margin-top:-10px;
}

.barber-main-heading-div:hover{
 #line{
    transition: all 0.3s ease-in-out;
    width: 340px;
}

}
.barber-cards {
    background-color: var(--black-color);

  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.barber-card {
    /* background-color: var(--black-color); */
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 50px 20px 30px 20px;
  width: 320px;
  height: 400px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}
.barber-card:hover{
    border: 1px solid #facc15;
      transform: translateY(-5px) scale(1.02);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);

    h3 {
        color: #facc15;
    }
}

.barber-icon {
    
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  background-color: #333;
  border-radius: 10px;
}

.haircut-icon {
  background-image: url('../assets/hair-styling-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.beard-icon {

  background-image: url('../assets/makeup-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.premium-icon {
  background-image: url('../assets/skincare-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.barber-card h3 {
    /* background-color: var(--black-color); */
background-color: #1c1c1c;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 1rem;
}

.barber-card p {
    /* border: 1px so/lid red; */
    line-height: 18px;
    letter-spacing: 1px;
  font-size: 13px;
  /* color: #ccc; */
  /* color: #aaa; */
  color: #71717B;
  margin-bottom: 10px;
  /* background-color: var(--black-color); */
  background-color: #1c1c1c;
  padding-top: 1.2rem;

}

.barber-card ul {
    /* background-color: var(--black-color); */
    background-color: #1c1c1c;
    padding-left: 20px;
  color: #aaa;
  font-size: 14px;
  padding-top: 1rem;
}

.barber-card ul li{
    /* background-color: var(--black-color); */
    line-height: 2;
 background-color: #1c1c1c;   
 color: #71717B;
}