
html,body{
    height: 100%;
    width: 100%;
    /* background-color: var(--bg-color); */

}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}
:root{
    --black-color:#1A1A1A;
    --bg-color:#1D1D1D;
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
background: var(--bg-color);
}
